<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><?php echo $pageTitle; ?></title>

    <link href="css/view_couple_form.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/gin-form_validator.js"></script>
</head>
<body>



<form action="" method="post" class="dark-matter gin-form" onsubmit="return validateForm()">
    <h1>Đề cử Cặp đôi
        <span>Điền thông tin của cặp đôi mà bạn muốn đề cử</span>
    </h1>
    <label>
        <label for="char1">Nhân vật 1</label>
        <input id="char1" type="text" name="char1" condition="noblank" value="<?php enhancedEcho($inputData['char1']);?>"/>
    </label>
    
    <label>
        <label for="char2">Nhân vật 2</label>
        <input id="char2" type="text" name="char2" condition="noblank" value="<?php enhancedEcho($inputData['char2']);?>" />
    </label>
    
    <label>
        <label for="image">Ảnh minh họa</label>
        <textarea id="image" style="resize: none;" name="image" condition="noblank isurls" placeholder="Link ảnh minh họa của cặp đôi"><?php enhancedEcho($inputData['image']);?></textarea>
        <label>Click vào <a href="http://yurivn.net/imageuploader/" target="_blank">Đây</a> để upload và lấy link ảnh</label>
    </label>

    <label>
        <label for="from">Đến từ</label>
        <input id="from" type="text" name="from" condition="noblank" placeholder="Tên manga/anime/truyện/phim" value="<?php enhancedEcho($inputData['from']);?>"/>
    </label>

    <label>
        <label for="url">Link tham khảo</label>
        <input id="url" type="text" name="url" condition="noblank isurl" placeholder="Nơi tham khảo thêm thông tin về cặp đôi này" value="<?php enhancedEcho($inputData['url']);?>"/>
    </label>

    <label>
        <label>&nbsp;</label> 
        <input type="submit" class="button" value="Đề cử" />
    </label>    
</form>

<script type="text/javascript">
    var inputError = <?php echo json_encode($form->getErrorMsg());?>;
    if (inputError != '') {
        alert(inputError);
    }
</script>

</body>
</html>
