<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo $pageTitle; ?></title>

<link href="css/view_couple_list.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table class="table-fill">
    <thead>
    <tr>
        <th class="text-center">Cặp đôi</th>
        <th class="text-center">Đến từ</th>
        <th class="text-center">Bảng</th>
        <th class="text-center">Điểm</th>
    </tr>
    </thead>

    <tbody class="table-hover">
    <?php
    if(!empty($couples)):
        foreach($couples as $couple):
        ?>
            <tr>
                <td class="text-left"><?php echo $couple->getChar1() ?> <img src="image/heart.png" height="20"> <?php echo $couple->getChar2() ?></td>
                <td class="text-left"><?php echo $couple->getFrom() ?></td>
                <td class="text-center"><?php echo $couple->getGroup() ?></td>
                <td class="text-center"><?php echo $couple->getScore() ?></td>
            </tr>
        <?php
        endforeach;
    endif;
    ?>
    </tbody>
</table>


</body>
</html>
