/*========================= GENERAL =========================*/
body{
    font-family: calibri;
}

.center {
    text-align: center;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

/*========================= FORM =========================*/
/*form label*/
/*{*/
/*display: inline-block !important;*/
/*width: 200px !important;*/
/*}*/
/**/
form input
{
    margin-bottom: 5px;
}
form input[type="radio"]{
    margin: 0px 5px 7px 5px;
}
form input[type="checkbox"]{
    margin-bottom: 7px;
    margin-right: 5px;
}
form textarea{
    margin-bottom: 5px;
    height: 190px;
    resize: none;
}

form select{
    margin-bottom: 5px;
}

form .required{
    color:red;
    font-weight: bold;
}

form #warning{
    color:red;
    width: 480px;
}

form ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

form ul li {
    margin: 0;
    clear: both;
}

form ul li label{
    float: left;
}

form ul li label:first-child{
    width: 200px !important;
}

form ul li input{
    float: left;
}

form .group-input{
    float: left;
}

form .group-input input{
    float: none;
    display: inline-block;
}

form .group-input label{
    float: none;
    display: inline-block;
}

/*========================= TABLE =========================*/
table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
    padding: 2px 10px;
}

table th {
    background-color: #3366FF;
    color: #ffffff;
}
