.tooltip
    {
        display: none;
        background: #ffffff;
        border: 2px #808080 solid;
        border-radius: 5px;
        padding: 10px;
        width: 250px;
        font-size: 18px;
        color: #000000;
    }   

    .alphabet
    {
        background: none repeat scroll 0 0 #161616; 
        color:gray; 
        text-align:center; 
        font-size:14px; 
    }

    .alphabet a
    {
        font-weight:bold;
    }