
    /*form label*/
    /*{*/
        /*display: inline-block !important;*/
        /*width: 200px !important;*/
    /*}*/
   /**/
    form input
    {
        margin-bottom: 5px;
    }
    form input[type="radio"]{
        margin: 0px 5px 7px 5px;
    }
    form input[type="checkbox"]{
        margin-bottom: 7px;
        margin-right: 5px;
    }
    form textarea{
        margin-bottom: 5px;
        height: 190px;
        resize: none;
    }
    
    form select{
        margin-bottom: 5px;
    }
    
    form .required{
        color:red;
        font-weight: bold;
    }

    form #warning{
        color:red;
        width: 480px;
    }

    form ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    form ul li {
        margin: 0;
        clear: both;
    }

    form ul li label{
        float: left !important;
    }

    form ul li label:first-child{
        width: 200px !important;
    }

    form ul li input{
        float: left !important;
    }
    

