.match {
    float: left;
}
.match img{
    max-height: 500px;
    max-width: 350px;
}

.match .center{
    text-align: center;
}

.match .frame {
    background: #000;
    width: 350px;
    height: 500px;
    text-align: center;
}

.match .vs {
    height: 500px;
    text-align: center;
}

.image-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.image-list li{
    padding: 0;
    margin: 0;
    line-height: 0;
}