<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><?php echo $pageTitle; ?></title>
    <link href="css/match_style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/change_image.js"></script>
</head>
<body>
<?php
    if($match->isVoted() || !$match->getActive() || !$userId) {
        $voteStatus = 'disabled';
    }
?>
<table border="1" class="match">
    <tr>
        <td class="frame">
            <ul class="image-list" id="image-list-1" currentimage="1">
                <?php
                $coupleImages = explode("\n", $couple1->getImage());
                foreach($coupleImages as $key => $coupleImage) {
                    echo "<li style='display:none;' class='image-item-".($key+1)."'><img src='$coupleImage'/></li>";
                }
                ?>
            </ul>

        </td>
    </tr>
    <tr>
        <td class="center">
            <?php
            if(count($coupleImages) <= 1) {
                $canChangeImages1 = 'disabled';
            }
            ?>
            <button class="previous" id="image-list-1-previous" <?php echo $canChangeImages1 ?>><b> < </b></button>
            <button class="next" id="image-list-1-next" <?php echo $canChangeImages1 ?>><b> > </b></button>
        </td>
    </tr>
    <tr>
        <td class="center"><span id="votes<?php echo $couple1->getId();?>"><?php echo $voteModel->getMatchVotes($match->getId(), $couple1->getId());?></span></td>
    </tr>
    <tr>
        <td class="center"><button class="vote" id="votefor<?php echo $couple1->getId();?>" <?php echo $voteStatus; ?>>Vote</button></td>
    </tr>
    <tr>
        <td class="center"><?php echo $couple1->getChar1()?> <img src="image/heart.png" height="20"> <?php echo $couple1->getChar2();?></td>
    </tr>
    <tr>
        <td>Đến từ: <?php echo $couple1->getFrom(); ?></td>
    </tr>
    <tr>
        <td>Tham khảo thêm thông tin về cặp đôi tại <a href="<?php echo $couple1->getUrl(); ?>" target="_blank">Đây</a></td>
    </tr>
</table>

<table class="match">
    <tr>
        <td class="vs"><img style="float: left;" src="image/vs.png"/></td>
    </tr>
</table>


<table border="1" class="match">
    <tr>
        <td class="frame">
            <ul class="image-list" id="image-list-2" currentimage="1">
                <?php
                $coupleImages = explode("\n", $couple2->getImage());
                foreach($coupleImages as $key => $coupleImage) {
                    echo "<li style='display:none;' class='image-item-".($key+1)."'><img src='$coupleImage'/></li>";
                }
                ?>
            </ul>
        </td>
    </tr>
    <tr>
        <td class="center">
            <?php
            if(count($coupleImages) <= 1) {
                $canChangeImages2 = 'disabled';
            }
            ?>
            <button class="previous" id="image-list-2-previous" <?php echo $canChangeImages2 ?>><b> < </b></button>
            <button class="next" id="image-list-2-next" <?php echo $canChangeImages2 ?>><b> > </b></button>
        </td>
    </tr>
    <tr>
        <td class="center"><span id="votes<?php echo $couple2->getId();?>"><?php echo $voteModel->getMatchVotes($match->getId(), $couple2->getId());?></span></td>
    </tr>
    <tr>
        <td class="center"><button class="vote" id="votefor<?php echo $couple2->getId();?>" <?php echo $voteStatus; ?>>Vote</button></td>
    </tr>
    <tr>
        <td class="center"><?php echo $couple2->getChar1()?> <img src="image/heart.png" height="20"> <?php echo $couple2->getChar2();?></td>
    </tr>
    <tr>
        <td>Đến từ: <?php echo $couple2->getFrom(); ?></td>
    </tr>
    <tr>
        <td>Tham khảo thêm thông tin về cặp đôi tại <a href="<?php echo $couple2->getUrl(); ?>" target="_blank">Đây</a></td>
    </tr>
</table>
<script type="text/javascript">
    $(document).ready(function(){
        $('.image-item-1').css('display','');
        $('.next').click(function(){
            var imageListId = $(this).attr('id').substr(0,12);
            var totalImages = $('#'+imageListId+' > li').length;
            var currentImage = parseInt($('#'+imageListId).attr('currentimage')) - 1;

            if(currentImage < totalImages-1) {
                $('#'+imageListId).find("li").eq(currentImage).css('display', 'none');
                currentImage++;
                $('#'+imageListId).attr('currentimage', currentImage+1);
                $('#'+imageListId).find("li").eq(currentImage).css('display', '');
            }
        });

        $('.previous').click(function(){
            var imageListId = $(this).attr('id').substr(0,12);
            var currentImage = parseInt($('#'+imageListId).attr('currentimage')) - 1;

            if(currentImage > 0) {
                $('#'+imageListId).find("li").eq(currentImage).css('display', 'none');
                currentImage--;
                $('#'+imageListId).attr('currentimage', currentImage+1);
                $('#'+imageListId).find("li").eq(currentImage).css('display', '');
            }
        });

        $('.vote').click(function(){

            var coupleToVote = $(this).attr('id').substring(7, $(this).attr('id').length);
            var matchId = <?php echo json_encode($match->getId()) ?>;
            $.ajax({
                type: 'POST',
                url: 'index.php?controller=vote&action=vote',
                dataType: "json",
                data: {
                    match: matchId,
                    couple: coupleToVote
                },
                success: function(result){
                    if(result.error == 1) {
                        alert(result.msg)
                    } else {
                        $('#votes' + coupleToVote).html(parseInt($('#votes' + coupleToVote).html()) + 1);
                        $('.vote').attr('disabled','disabled');
                    }
                }
            });
        });
    });
</script>

</body>
</html>
