<h1><?php echo $pageTitle; ?></h1>
<form action="" method="post">
    <ul>
        <?php if(getParam('apply') != 1): ?>
        <li>
            <label>Tên Thành viên</label>
            <input id="name" type="text" name="membername" value="<?php echoEnhanced($formValue['membername']); ?>" required/>
        </li>
        <?php endif; ?>

        <li>
            <label>Vị trí</label>
            <div class="group-input">
                <?php if(getParam('apply') != 1): ?>
                    <input id="position_trans" name="position[]" value="Translator" <?php echoEnhanced($formCheck['position']['Translator']); ?> type="checkbox"/> <label for="position_trans">Translator</label><br/>
                    <input id="position_transjp" name="position[]" value="JP Translator" <?php echoEnhanced($formCheck['position']['JP Translator']); ?> type="checkbox"/> <label for="position_transjp">JP Translator</label><br/>
                    <input id="position_transcn" name="position[]" value="CN Translator" <?php echoEnhanced($formCheck['position']['CN Translator']); ?> type="checkbox"/> <label for="position_transcn">CN Translator</label><br/>
                    <input id="position_pr" name="position[]" value="Proof Reader" <?php echoEnhanced($formCheck['position']['Proof Reader']); ?> type="checkbox"/> <label for="position_pr">Proof Reader</label><br/>
                    <input id="position_editor" name="position[]" value="Editor" <?php echoEnhanced($formCheck['position']['Editor']); ?> type="checkbox"/> <label for="position_editor">Editor</label><br/>
                    <input id="position_qc" name="position[]" value="Quality Checker" <?php echoEnhanced($formCheck['position']['Quality Checker']); ?> type="checkbox"/> <label for="position_qc">Quality Checker</label><br/>
                    <input id="position_timer" name="position[]" value="Timer" <?php echoEnhanced($formCheck['position']['Timer']); ?> type="checkbox"/> <label for="position_timer">Timer</label><br/>
                    <input id="position_typeset" name="position[]" value="Typesetter" <?php echoEnhanced($formCheck['position']['Typesetter']); ?> type="checkbox"/> <label for="position_typeset">Typesetter</label><br/>
                    <input id="position_karaeffect" name="position[]" value="Karaoke Effector" <?php echoEnhanced($formCheck['position']['Karaoke Effector']); ?> type="checkbox"/> <label for="position_karaeffect">Karaoke Effector</label><br/>
                    <input id="position_encoder" name="position[]" value="Encoder" <?php echoEnhanced($formCheck['position']['Encoder']); ?> type="checkbox"/> <label for="position_encoder">Encoder</label><br/>
                <?php
                else:
                    foreach($project->getPosition() as $position):
                ?>
                        <input id="<?php echo $position ?>" name="position[]" value="<?php echo $position ?>" <?php echoEnhanced($formCheck['position']['Translator']); ?> type="checkbox"/> <label for="<?php echo $position ?>"><?php echo $position ?></label><br/>
                <?php endforeach; ?>
                <?php endif; ?>
            </div>
        </li>

        <li>
            <input type="submit" value="<?php echo $formButton ?>"/>
        </li>
    </ul>

</form>
