<h1><?php echo $pageTitle; ?></h1>
<?php
    $userId = callHelper('Forum')->getUserInfo('userid');

    if(!emptyEnhanced($applications->getData())):
?>
    <table>
        <thead>
            <th>Tên Project</th>
            <th>Tên thành viên</th>
            <th>Vị trí</th>
            <th>Action</th>
        </thead>
        <?php
            foreach($applications as $application):
        ?>
                <tr>
                    <td><?php echo $application->getProjectName(); ?></td>
                    <td><?php echo $application->getMemberName(); ?></td>
                    <td><?php echo implode(', ', $application->getPosition()); ?></td>
                    <td class="center">
                        <a href="index.php?controller=projectmember&action=approve&id=<?php echo $application->getId(); ?>">Duyệt</a> |
                        <a href="index.php?controller=projectmember&action=delete&id=<?php echo $application->getId(); ?>&apply=1">Xóa</a>
                    </td>

                </tr>
        <?php
            endforeach;
        ?>
    </table>
<?php
    endif;
?>
