<h1><?php echo $pageTitle; ?></h1>
<?php
    if(!emptyEnhanced($members->getData())):
?>
    <table>
        <thead>
            <th>ID</th>
            <th>Tên</th>
            <th>Email</th>
            <th>Liên hệ</th>
            <th>Vị trí</th>
            <th>Rank</th>
            <th>Projects</th>
            <?php if($userId == $forum->getConfig('SpecialUsers/superadministrators', 2)): ?>
                <th>Action</th>
            <?php endif;?>
        </thead>
        <?php
            foreach($members as $member):
        ?>
                <tr>
                    <td class="center"><?php echo $member->getId(); ?></td>
                    <td>
                        <?php
                        if(callHelper('Forum')->getUserInfo('userid') == callHelper('Forum')->getConfig('SpecialUsers/superadministrators', 2)) {
                            echo '<a href="index.php?controller=member&action=edit&id='.$member->getId().'">'.$member->getName().'</a>';
                        } else {
                            echo $member->getName();
                        }
                        ?>
                    </td>
                    <td><?php echo $member->getEmail(); ?></td>
                    <td><a target="_blank" href="<?php echo $member->getContact(); ?>">Facebook của <?php echo $member->getName(); ?></a> </td>
                    <td style="max-width: 200px"><?php echo implode(', ', $member->getPosition()) ?></td>
                    <td class="center"><?php echo ($member->getRank()) ? 'S' : 'M'; ?></td>
                    <td style="max-width: 200px">
                        <?php
                        $filter = array(
                            'memberid' => $member->getId(),
                            'applying' => 0
                        );
                        $projectMembers = callModel('ProjectMember')->setFilter($filter)->getCollection();
                        $joinedProjects = array();
                        foreach($projectMembers as $projectMember) {
                            $project = callModel('Project')->load($projectMember->getProjectId());
                            $joinedProjects[] = '<a class="title2tooltip" href="#" title="'.$project->getName().'">'. $project->getCode().'</a>';
                        }
                        echo implode(', ', $joinedProjects);
                        ?>
                    </td>
                    <?php if($userId == $forum->getConfig('SpecialUsers/superadministrators', 2)): ?>
                        <td class="center"><a href="index.php?controller=member&action=delete&id=<?php echo $member->getId(); ?>">Xóa</a></td>
                    <?php endif; ?>
                </tr>
        <?php
            endforeach;
        ?>
    </table>
<?php
    endif;
?>
