<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/tooltip.css">
    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/tooltip-main.js"></script>
    <script type="text/javascript" src="js/tooltip-script.js"></script>
    <title>SMPM - <?php echo $pageTitle; ?></title>
</head>
<body>
<a href="index.php?controller=project&action=list">Danh sách Project</a> |
<a href="index.php?controller=project&action=add">Thêm Project</a> |
<a href="index.php?controller=member&action=list">Danh sách thành viên</a> |
<?php if($userId == $forum->getConfig('SpecialUsers/superadministrators', 2)): ?>
    <a href="index.php?controller=member&action=add">Thêm thành viên</a> |
<?php endif;?>
<a href="index.php?controller=projectmember&action=application">Duyệt đăng ký <?php if($pendingApplications) echo "($pendingApplications)"?></a> |
<?php if($userId == $forum->getConfig('SpecialUsers/superadministrators', 2)): ?>
    <a href="index.php?controller=projectmember&action=allapplication">Toàn bộ đăng ký <?php if($allPendingApplications) echo "($allPendingApplications)"?></a> |
<?php endif;?>
<?php echo $content;?>
<script type="text/javascript" src="js/tooltip-totitle.js"></script>
</body>
</html>