.inpost-tooltip
    {
        display: none;        
        height: 180px;
        background: url('black_big.png') no-repeat;
        padding: 25px 10px 0px 30px;
        width: 450px;
        font-size: 11px;
        color: #fff;
    }   

    .alphabet
    {
        background: none repeat scroll 0 0 #161616; 
        color:gray; 
        text-align:center; 
        font-size:14px; 
    }

    .alphabet a
    {
        font-weight:bold;
    }