<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><?php echo $pageTitle; ?></title>

    <link href="css/view_couple_form.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/gin-form_validator.js"></script>
</head>
<body>



<form action="" method="post" class="dark-matter gin-form" onsubmit="return validateForm()">
    <h1>Chia bảng</h1>
    <label>
        <label for="numberofgroup">Số lượng bảng</label>
        <input id="numberofgroup" type="text" name="numberofgroup" condition="noblank ispower2" value="<?php enhancedEcho($inputData['numberofgroup']);?>"/>
    </label>

    <label>
        <label>&nbsp;</label>
        <input type="submit" class="button" value="Chia bảng" />
    </label>
</form>

<script type="text/javascript">
    var x = 16;
    if((x!='' && (x - 1)) == 0) {
        alert('right');
    }
    var inputError = <?php echo json_encode($form->getErrorMsg());?>;
    if (inputError != '') {
        alert(inputError);
    }
</script>

</body>
</html>
