<h1><?php echo $pageTitle; ?></h1>
<form action="" method="post">
    <ul>
        <li>
            <label>Tên Project</label>
            <input id="name" type="text" name="name" value="<?php echoEnhanced($formValue['name']); ?>" required/>
        </li>

        <?php if($userId == callHelper('Forum')->getConfig('SpecialUsers/superadministrators', 2)):?>
        <li>
            <label>Leader</label>
            <input id="name" type="text" name="leadername" value="<?php echoEnhanced($formValue['leadername']); ?>" required/>
        </li>
        <?php endif;?>

        <li>
            <label>Loại</label>
            <select name="type">
                <option value="1" <?php echoEnhanced($formSelect['type']['1']); ?>>Manga</option>
                <option value="2" <?php echoEnhanced($formSelect['type']['2']); ?>>Anime</option>
            </select>
        </li>

        <li>
            <label>Project Code (Không trùng)</label>
            <input id="code" type="text" name="code" value="<?php echoEnhanced($formValue['code']); ?>" required/>
        </li>

        <li>
            <label>Tình trạng</label>
            <select name="status">
                <option style="background: darkgreen;" value="1" <?php echoEnhanced($formSelect['status']['1']);?>>Đầy đủ nhân lực</option>
                <option style="background: yellow;" value="2" <?php echoEnhanced($formSelect['status']['2']);?>>Thiếu nhân lực, tốc độ Project bị ảnh hưởng</option>
                <option style="background: red;" value="3" <?php echoEnhanced($formSelect['status']['3']);?>>Thiếu nhân lực, Project không thể tiếp tục</option>
            </select>
        </li>

        <li>
            <label>Vị trí cần tuyển</label>
            <div class="group-input">
                <input id="position_trans" name="position[]" value="Translator" <?php echoEnhanced($formCheck['position']['Translator']); ?> type="checkbox"/> <label for="position_trans">Translator</label><br/>
                <input id="position_transjp" name="position[]" value="JP Translator" <?php echoEnhanced($formCheck['position']['JP Translator']); ?> type="checkbox"/> <label for="position_transjp">JP Translator</label><br/>
                <input id="position_transcn" name="position[]" value="CN Translator" <?php echoEnhanced($formCheck['position']['CN Translator']); ?> type="checkbox"/> <label for="position_transcn">CN Translator</label><br/>
                <input id="position_pr" name="position[]" value="Proof Reader" <?php echoEnhanced($formCheck['position']['Proof Reader']); ?> type="checkbox"/> <label for="position_pr">Proof Reader</label><br/>
                <input id="position_editor" name="position[]" value="Editor" <?php echoEnhanced($formCheck['position']['Editor']); ?> type="checkbox"/> <label for="position_editor">Editor</label><br/>
                <input id="position_qc" name="position[]" value="Quality Checker" <?php echoEnhanced($formCheck['position']['Quality Checker']); ?> type="checkbox"/> <label for="position_qc">Quality Checker</label><br/>
                <input id="position_timer" name="position[]" value="Timer" <?php echoEnhanced($formCheck['position']['Timer']); ?> type="checkbox"/> <label for="position_timer">Timer</label><br/>
                <input id="position_typeset" name="position[]" value="Typesetter" <?php echoEnhanced($formCheck['position']['Typesetter']); ?> type="checkbox"/> <label for="position_typeset">Typesetter</label><br/>
                <input id="position_karaeffect" name="position[]" value="Karaoke Effector" <?php echoEnhanced($formCheck['position']['Karaoke Effector']); ?> type="checkbox"/> <label for="position_karaeffect">Karaoke Effector</label><br/>
                <input id="position_encoder" name="position[]" value="Encoder" <?php echoEnhanced($formCheck['position']['Encoder']); ?> type="checkbox"/> <label for="position_encoder">Encoder</label><br/>
            </div>
        </li>
        <li>
            <label>Tiến độ</label>
            <input style="margin-right: 10px;" name="process" value="<?php echoEnhanced($formValue['process']); ?>" type="text"/>
            <select name="processtype">
                <option style="background: darkgreen;" value="1" <?php echoEnhanced($formSelect['processtype']['1']);?>>Hoàn thành</option>
                <option style="background: yellow;" value="2" <?php echoEnhanced($formSelect['processtype']['2']);?>>Đang tiến hành</option>
            </select>
        </li>
        <li>
            <input type="submit" value="<?php echo $formButton ?>"/>
        </li>
    </ul>

</form>


<?php if(getParam('action') == 'edit'): ?>
    <h1 style="margin-top: 50px;">Danh sách thành viên</h1>
    <a href="index.php?controller=projectmember&action=add&projectid=<?php echo getParam('id'); ?>"><button>Thêm</button></a>
    <?php
    $filter = array(
        'projectid' => getParam('id'),
        'applying' => 0
    );
    $projectMembers = callModel('ProjectMember')->setFilter($filter)->getCollection();

    if(!emptyEnhanced($projectMembers->getData())):
        ?>
        <table style="margin-top: 20px;">
            <thead>
            <th>Tên</th>
            <th>Vị trí</th>
            <?php
                $userId = callHelper('Forum')->getUserInfo('userid');
                if($userId == $project->getLeaderUserId() || $userId == callHelper('Forum')->getConfig('SpecialUsers/superadministrators', 2)):
            ?>
                <th>Action</th>
            <?php endif; ?>
            </thead>
            <?php
            foreach($projectMembers as $projectMember):
                ?>
                <tr>
                    <td><?php echo $projectMember->getMemberName(); ?></td>
                    <td class="<?php echo $statusColor; ?>"><?php echo implode(', ', $projectMember->getPosition()) ?></td>
                    <?php
                    if($userId == $project->getLeaderUserId() || $userId == callHelper('Forum')->getConfig('SpecialUsers/superadministrators', 2)):
                        ?>
                        <td class="center"><a href="index.php?controller=projectmember&action=delete&id=<?php echo $projectMember->getId(); ?>">Xóa</a></td>
                    <?php endif; ?>
                </tr>
            <?php
            endforeach;
            ?>
        </table>
    <?php
    endif;
    ?>
<?php endif; ?>
<script type="text/javascript">
    $( document ).ready(function() {
        $('#name').keyup(function(){
            var matches = $('#name').val().match(/\b(\w)/g);
            var acronym = matches.join('');
            $('#code').val(acronym.toUpperCase());
        });
    });
</script>
