<link rel="stylesheet" href="css/tooltip.css">
<h1><?php echo $pageTitle; ?></h1>
<?php
    $userId = callHelper('Forum')->getUserInfo('userid');

    if(!emptyEnhanced($projects->getData())):
?>
    <table>
        <thead>
            <th>ID</th>
            <th>Tên Project</th>
            <th>Loại</th>
            <th>Project Code</th>
            <th>Leader</th>
            <th>Nhân sự</th>
            <th>Cần tuyển</th>
            <th>Tiến độ</th>
            <th>Tham gia Project</th>
            <th>Action</th>
        </thead>
        <?php
            foreach($projects as $project):
                switch ($project->getStatus()) {
                    case 1:
                        $statusColor = 'green';
                        break;
                    case 2:
                        $statusColor = 'yellow';
                        break;
                    case 3:
                        $statusColor = 'red';
                        break;
                }
                switch ($project->getProcessType()) {
                    case 1:
                        $processColor = 'green';
                        break;
                    case 2:
                        $processColor = 'yellow';
                        break;
                }
        ?>
                <tr>
                    <td class="center"><?php echo $project->getId(); ?></td>
                    <td>
                        <?php
                            if($userId == $project->getLeaderUserId() || $userId == $forum->getConfig('SpecialUsers/superadministrators', 2)) {
                                echo '<a href="index.php?controller=project&action=edit&id='.$project->getId().'">'.$project->getName().'</a>';
                            } else {
                                echo $project->getName();
                            }
                        ?>
                    </td>
                    <td>
                        <?php
                            switch($project->getType()){
                                case 1:
                                    echo 'Manga';
                                    break;
                                case 2:
                                    echo 'Anime';
                                    break;
                            }
                        ?>
                    </td>
                    <td><?php echo $project->getCode(); ?></td>
                    <td class="center"><?php echo $project->getLeaderName(); ?></td>
                    <td class="center">
                        <?php
                        $filter = array(
                            'projectid' => $project->getId(),
                            'applying' => 0
                        );
                        $projectMembers = callModel('ProjectMember')->setFilter($filter)->getCollection();
                        $hr = array();
                        foreach($projectMembers as $projectMember) {
                            foreach($projectMember->getPosition() as $position) {
                                $hr[$position][] = $projectMember->getMemberName();
                            }
                        }

                        $hrText = '';
                        foreach($hr as $position => $members) {
                            if(!empty($members)) {
                                $hrText .= '<b>'.$position.':</b> '.implode(', ', $members).'<br>';
                            }
                        }
                        if(!$hrText) {
                            $hrText = 'Chưa có ai tham gia Project này';
                        }

                        ?>
                        <a class="title2tooltip" href="#" title="<?php echo $hrText;?>">Xem</a>
                    </td>
                    <td class="<?php echo $statusColor; ?>"><?php echo implode(', ', $project->getPosition()) ?></td>
                    <td class="<?php echo $processColor; ?>"><?php echo $project->getProcess(); ?></td>
                    <td class="center">
                        <?php if(!emptyEnhanced($project->getPosition()) && $project->getProcessType() != 1 && $userId != $project->getLeaderUserId()): ?>
                        <a href="index.php?controller=projectmember&action=add&projectid=<?php echo $project->getId(); ?>&apply=1">Đăng ký</a>
                        <?php endif; ?>
                    </td>
                    <td class="center">
                    <?php if($userId == $project->getLeaderUserId() || $userId == $forum->getConfig('SpecialUsers/superadministrators', 2)): ?>
                        <a href="index.php?controller=project&action=delete&id=<?php echo $project->getId(); ?>">Xóa</a>
                    <?php endif; ?>
                    </td>
                </tr>
        <?php
            endforeach;
        ?>
    </table>
<?php
    endif;
?>