<link rel="stylesheet" type="text/css" href="yurivnplugin/yrms/css/form.css"
      xmlns:vb="http://www.w3.org/1999/XSL/Transform"/>
<link rel="stylesheet" href="yurivnplugin/yrms/css/tooltip.css"/>
<script src="yurivnplugin/yrms/js/tooltip1.js"></script>
<script src="yurivnplugin/yrms/js/tooltip2.js"></script>
<script src="yurivnplugin/yrms/js/form.js"></script>
<script>
    jQuery.noConflict();
    // $ no longer references jQuery.

    (function($) {
        // use $ in here:
        $(function () {
            $(document).tooltip();

            $('#type').change(function(){
                if($(this).val()==2) {
                    $('#code').css('display', 'none');
                } else {
                    if($(this).val()==1) {
                        $('#code').addClass('required');
                    } else {
                        $('#code').removeClass('required');
                    }
                    $('#code').css('display', 'block');
                }
            });
        });
    }(jQuery));

    function generateHostFields() {
        var additionalData = '';
    <vb:each from="formValue" key="fieldName" value="fieldValue">
                <vb:if condition="$fieldName!='streamlink'">
                additionalData+= '&{vb:var fieldName}={vb:var fieldValue}';
    </vb:if>
    </vb:each>

        var data = jQuery('form').serialize();
        if (data.indexOf("hostname") == -1){
            data += additionalData;
        }

        jQuery.ajax({
            type: 'POST',
            url: 'yurivnplugin/yrms/index.php?controller=vietsubmangachapter&action=generateHostFields',
            data: data,
            success: function(result){
                jQuery('#hostFields').html(result);
            }
        });

    }
    window.onload = function(){generateHostFields();exclusiveRequiredField('posturldownload', 'posturlstream');}
</script>
<h2 class="blockhead">{vb:raw pageTitle}</h2>
<div class="blockbody formcontrols settings_form_border">
    <div class="section">
        <form id="test" action="" method="POST">
            <div class="blockrow">
                {vb:raw messagebox}
            </div>

            <fieldset class="blockrow" style="border-bottom:none;">
                <legend>{vb:rawphrase yrms_chapter_info}</legend>
                <ul>
                    <vb:if condition="$action ==reward">
                        <li>
                            <label class="required">{vb:rawphrase yrms_posturl} {vb:rawphrase yrms_vietsubmanga}</label>
                            <input type="text" class="primary textbox" name="posturlmanga" title="{vb:rawphrase yrms_posturl_manga_description}" value="{vb:raw formValue.posturlmanga}" required/>
                        </li>
                        <li id="posturldownload">
                            <label class="required">{vb:rawphrase yrms_posturl} {vb:rawphrase yrms_downloadlink}</label>
                            <input type="text" class="primary textbox" name="posturldownload" onchange="exclusiveRequiredField('posturldownload', 'posturlstream')" title="{vb:rawphrase yrms_posturl_chapter_description}" value="{vb:raw formValue.posturldownload}" required/>
                        </li>
                        <li id="posturlstream">
                            <label class="required">{vb:rawphrase yrms_posturl} {vb:rawphrase yrms_readlink}</label>
                            <input type="text" class="primary textbox" name="posturlstream" onchange="exclusiveRequiredField('posturldownload', 'posturlstream')" title="{vb:rawphrase yrms_posturl_read_description}" value="{vb:raw formValue.posturlstream}" required/>
                        </li>
                    </vb:if>
                    <li>
                        <label class="required">{vb:rawphrase yrms_type}</label>
                        <select required name="type" id="type" style="width:120px;" title="{vb:rawphrase yrms_chaptertype_description}">
                            <option value="1" {vb:raw formSelect.type.1}>{vb:rawphrase yrms_chaptertype1}</option>
                            <option value="2" {vb:raw formSelect.type.2}>{vb:rawphrase yrms_chaptertype2}</option>
                            <option value="3" {vb:raw formSelect.type.3}>{vb:rawphrase yrms_chaptertype3}</option>
                            <option value="4" {vb:raw formSelect.type.4}>{vb:rawphrase yrms_chaptertype4}</option>
                            <option value="5" {vb:raw formSelect.type.5}>{vb:rawphrase yrms_chaptertype5}</option>
                        </select>
                    </li>
                    <li id="code">
                        <label class="required">{vb:rawphrase yrms_chaptercode}</label>
                        <input required type="text" class="primary textbox" maxlength="3" size="3" name="code" title="{vb:rawphrase yrms_chaptercode_description}" value="{vb:raw formValue.code}" />
                    </li>
                    <li>
                        <label>{vb:rawphrase yrms_chaptertitle}</label>
                        <input type="text" class="primary textbox" name="title" value="{vb:raw formValue.title}" title="{vb:rawphrase yrms_chaptertitle_description}"/>
                    </li>
                    <li>
                        <label class="required">{vb:rawphrase yrms_length}</label>
                        <select required name="length" style="width:150px;" title="{vb:rawphrase yrms_length_description_manga}">
                            <vb:each from="yunRange" key="key" value="length">
                                <option value="{vb:raw key}" <vb:if condition="$formValue['length'] == $key">selected</vb:if>>{vb:raw length}</option>
                            </vb:each>

                        </select>
                    </li>
                    <vb:if condition="$action!=edit">
                        <li>
                            <label class="required">{vb:rawphrase yrms_projectstatus}</label>
                            <div style="display:inline-block;" title="{vb:rawphrase yrms_mangastatus_update_description}">
                                <input id="status_1" required type="radio" name="status" value="1" {vb:raw formCheck.status.1}/>&nbsp<label for="status_1">{vb:rawphrase yrms_projectstatus1}</label>&nbsp
                                <input id="status_2" required type="radio" name="status" value="2" {vb:raw formCheck.status.2}/>&nbsp<label for="status_2">{vb:rawphrase yrms_projectstatus2}</label>&nbsp
                                <input id="status_3" required type="radio" name="status" value="3" {vb:raw formCheck.status.3}/>&nbsp<label for="status_3">{vb:rawphrase yrms_projectstatus3}</label>
                            </div>
                        </li>
                    </vb:if>
                    <li>
                        <label class="required">{vb:rawphrase yrms_adult}</label>
                        <div style="display:inline-block;" title="{vb:rawphrase yrms_adult_description}">
                            <input id="adult_0" required type="radio" name="adult" value="0"  {vb:raw formCheck.adult.0}/>&nbsp<label for="adult_0">{vb:rawphrase yrms_adult0}</label>&nbsp
                            <input id="adult_1" required type="radio" name="adult" value="1" {vb:raw formCheck.adult.1}/>&nbsp<label for="adult_1">{vb:rawphrase yrms_adult1}</label>
                        </div>
                    </li>
                </ul>
            </fieldset>

            <fieldset class="blockrow" style="border-bottom:none;">
                <legend>{vb:rawphrase yrms_fansub_info}</legend>
                <ul>
                    <vb:if condition="$action!=edit || can_moderate($vboptions['yrms_vietsubmanga_id_truyendich'])">
                        <li>
                            <label class="required">{vb:rawphrase yrms_fansub_name}</label>
                            <input required type="text" class="primary textbox" size="20" name="fansubname" value="{vb:raw formValue.fansubname}"/>
                        </li>
                        <li>
                            <label class="required">{vb:rawphrase yrms_fansub_website}</label>
                            <input required type="text" class="primary textbox" name="fansubsite" value="{vb:raw formValue.fansubsite}"/>
                        </li>
                        <li>
                            <label>{vb:rawphrase yrms_translator}</label>
                            <input type="text" class="primary textbox" name="fansubmember[translator]" title="{vb:rawphrase yrms_fansub_member_description}" value="{vb:raw formValue.fansubmember.translator}" />
                        </li>
                        <li>
                            <label>{vb:rawphrase yrms_proofreader}</label>
                            <input type="text" class="primary textbox" name="fansubmember[proofreader]" title="{vb:rawphrase yrms_fansub_member_description}" value="{vb:raw formValue.fansubmember.proofreader}"/>
                        </li>
                        <li>
                            <label>{vb:rawphrase yrms_mangaeditor}</label>
                            <input type="text" class="primary textbox" name="fansubmember[editor]" title="{vb:rawphrase yrms_fansub_member_description}" value="{vb:raw formValue.fansubmember.editor}" />
                        </li>
                        <li>
                            <label>{vb:rawphrase yrms_qualitychecker}</label>
                            <input type="text" class="primary textbox" name="fansubmember[qualitychecker]" title="{vb:rawphrase yrms_fansub_member_description}" value="{vb:raw formValue.fansubmember.qualitychecker}"/>
                        </li>
                    </vb:if>
                    <li>
                        <label>{vb:rawphrase yrms_fansub_note}</label>
                        <textarea class="primary textbox" name="fansubnote" title="{vb:rawphrase yrms_fansub_note_description_manga}">{vb:raw formValue.fansubnote}</textarea>
                    </li>

                </ul>
            </fieldset>

            <fieldset class="blockrow">
                <legend>{vb:rawphrase yrms_upload_info}</legend>
                <span style="font-style:italic;font-size:8pt;">{vb:rawphrase yrms_uploadtip}</span><br/>

                <ul style="margin-top: 10px;">
                    <li>
                        <label <vb:if condition="$action==edit && !can_moderate($vboptions['yrms_vietsubmanga_id_truyendich'])">style="display:none;"</vb:if> <vb:if condition="$action!=reward"> class="required"</vb:if>>{vb:rawphrase yrms_hosttotal}</label>
                        <input <vb:if condition="$action==edit && !can_moderate($vboptions['yrms_vietsubmanga_id_truyendich'])">style="display:none;"</vb:if>  <vb:if condition="$action!=reward"> required</vb:if> <vb:if condition="$action==reward">title="{vb:rawphrase yrms_hosttotal_description}"</vb:if> type="text" class="primary textbox" maxlength="2" size="2" id="totalhost" name="totalhost" onkeyup="generateHostFields()" onchange="generateHostFields()" onkeypress="return NumberOnly(event)" value="{vb:raw formValue.totalhost}" />
                        <ul id="hostFields">

                        </ul>
                    </li>
                    <li>
                        <label>{vb:rawphrase yrms_readlink}</label>
                        <textarea class="primary textbox" title="{vb:rawphrase yrms_readlink_description}" name="streamlink">{vb:raw formValue.streamlink}</textarea>
                    </li>
                </ul>
            </fieldset>

            <div class="blockrow" style="border:none;">
                <vb:if condition="$action==reward">
                    <input type="submit" class="button" name="submitted" value="{vb:rawphrase yrms_reward}"/>
                    <vb:elseif condition="$action==edit"/>
                    <input type="submit" class="button" name="submitted" value="{vb:rawphrase yrms_edit}"/>
                    <vb:else />
                    <input type="submit" class="button" name="submitted" value="{vb:rawphrase yrms_chapteradd}"/>
                </vb:if>
            </div>
        </form>

    </div> <!-- section -->

</div> <!-- block body -->